<div class="container">
	<div class="post-header">
		<div class="header">
			<h2 class = "header-name"> User1 </h2>
		</div>
	</div>
	
	<div class = "contents"?
		<div class = "title">
			<div class = "divName">
				<h2> {{postTitle}} </h2>
			</div>
		</div>
		
		<div class = "img">
			<div class = "imageCon">
				<img src="/images/icon.webp" class="image">
			</div>
		</div>
		
		<div class = "description">
			<p class="text"> {{desc}} </p>
		</div>
	</div>
	
	<div class = "footer-info">
		<div class="footer-actions">
			<span class="like"></span>
			<span class="comment"></span>
			<span class="save"></span>
			<span class="upvote"></span>
			<span class="downvote"></span>
		</div>
	</div>
</div>
