<div class="container">
	<div class="post-header">
		<div class="header">
			<h2 class = "header-name"> {{postUsername}} </h2>
		</div>
	</div>
	
	<div class = "contents">
		<div class = "title">
			<div class = "divName">
				<h2> {{postTitle}} </h2>
			</div>
		</div>
		
		<div class = "img">
			<div class = "imageCon">
				<img src={{postPhoto}} class="image">
			</div>
		</div>
		
		<div class = "description">
			<div class = "footer-info">
				<span class = "text"> {{desc}} </span>
			</div>
		</div>
	</div>
	
	<div class="footer-actions">
		<span class="like"></span>
		<span class="comment"></span>
	</div>
</div>
