<!DOCTYPE html>
<html>
<head>
	<title> Error 404 Page </title>
	<link rel="stylesheet" href="CSS/siteStyle.css">
	<link rel="stylesheet" href="CSS/404.css">
</head>
<body>
	<div class = "navigation">
		<h1 class = "navigation-title">Socrates</h1>
	</div>
	<div class = "error-message">
		<h2> Hopya Mani Popcorn! Page not found! </h2>
		<h1> Error 404 </h1>
		<h6><a href = "/getIndex"> GO BACK HOME </a></h6>
	</div>
</body>
</html>