    <div class = "navigation">
		<span id="LR">			
			<a href="/Logout">Logout</a>
		</span>
		<div id="proBtn"><a href="/profile">Profile</a></div>
		<h1 class = "navigation-title"><a href="/">Socrates</a></h1>
	</div>
    <div id="pagecontent">
	    <h1 class="about">About Socrates</h1>
 				<p id="aboutUs">Socrates is a social posting application developed by Noel Angelo Pastrana, Jairus Ramiel C. Santiago, and Ramon Antonio Mapua 
                                of CCAPDEV S15, where users may post their thoughts in a familiar format, including accounts and posts similar to other social media sites.
                                </p>
        <div class="Packages">
            <h2 id="packageTitle">NPM Packages Used in this application</h2>
            <ul>
                <li>bcrypt ver. ^5.0.1</li>
                <li>body-parser ver. ^1.20.0</li>
                <li>connect-mongodb-session ver. ^3.1.1</li>
                <li>dotenv ver. ^16.0.1</li>
                <li>express ver. ^4.18.1</li>
                <li>express-favicon ver. ^2.0.1</li>
                <li>express-formidable ver. ^1.2.0</li>
                <li>express-handlebars ver. ^6.0.6</li>
                <li>express-router ver. ^0.0.1</li>
                <li>express-session ver. ^1.17.3</li>
                <li>mongodb ver. ^4.7.0</li>
                <li>mongoose ver. ^6.3.8</li>
            </ul>
	<br>
        <div class="git">
            <h2>Github Repository for the source code</h2>
            <a href="https://github.com/RamielSantiago/CCAPDEV-MP">Repository Link</a>
        </div>
    </div>
