<div class = "navigation">
		<span id="LR">			
			<a href="/login">Login</a>
			<a href="/register">Register</a>
		</span>
		<div id="aboutBtn"><a href="/about">About Us</a></div>
		<h1 class = "navigation-title">Socrates</h1>
	</div>
	<div id="posts">
		<div class = "postsContainer">
				<h1 class = "divName"> Posts </h1>
				<hr class = "hline">
				{{#each data}}
					{{> posttemplate postUsername=postUsername postTitle=postTitle postPhoto=postPhoto desc=desc }}
				{{/each}}
				
		</div>
	</div> 
	<div id = "comments">
		<div class = "commentsContainer">
			<h1 class = "divName"> Comments </h1>
			<hr class = "hline">
			{{#each comment}}
				{{> commenttemplate commentUsername=commentUsername commenttedUsername=commenttedUsername postComment=postComment }}
			{{/each}}
		</div>
	</div>	
