
	<div class = "navigation">
		<span id="LR">			
			<a href="/endSession">Logout</a>
		</span>
		<div id="proBtn"><a href="/profile">Profile</a></div>
		<div id="aboutBtn"><a href="/about">About Us</a></div>
		<h1 class = "navigation-title">Socrates</h1>
	</div>
	
	<div class="writebutton">
		 <button id="popup">Create Post</button>
	</div>
	<div class = "writePosts">
		<div id="close">
			<button id="closeBtn">X</button>
		</div>
		<div class = "writePostsDiv">
			<h1 class = "divName"> Write Posts </h1>
			<hr class = "hline">
		</div>
		
		<div class = "container">
			<form id="postForm">
				<div class="auxTitle">
					<h6 class="descName"> Post's Title </h6>
					<textarea id="postTitle" name="postTitle" placeholder="Enter Post's Title" required></textarea>
				</div>
				
				<div class="auxPhoto">
					<h6 class="descName"> Post's Photo </h6>
					<textarea id="postPhoto" name="postPhoto" placeholder="Enter Photo URL" required></textarea>
				</div>
				
				<div class="auxInfo">
					<h6 class="descName"> Post </h6>
					<textarea rows="100" cols = "40" id="desc" name ="desc" placeholder="Enter your post here" required></textarea>
				</div>
			</form>
			<div class="writebutton">
				<button id = "postSubmit">Submit</button>
			</div>
		</div>
	</div>
	
	<div id="posts">
		<div class = "postsContainer">
			<h1 class = "divName"> Posts </h1>
			<hr class = "hline">
			<div class = "writeComment">
				<div id="close">
					<button id="closeBtnComment">X</button>
				</div>
				
				<div class = "writePostsDiv">
					<h1 class = "divName"> Write Comment </h1>
					<hr class = "hline">
				</div>
				
				<div class = "container">
					<div class="auxUsername">
						<h6 class="descName"> Comment to: </h6>
						<input type="text" placeholder="Enter Username you will Comment" name="commenttedUsername" id="commenttedUsername" required>
					</div>
					
					<div class="auxInfo">
						<h6 class="descName"> Comment </h6>
						<textarea rows="100" cols = "40" id="postComment" name ="postComment" placeholder="Enter your Comment here" required></textarea>
					</div>
					<div class="writebutton">
						<button id = "commentSubmit">Submit</button>
					</div>
				</div>
			</div>
			{{#each data}}
				{{> posttemplate postUsername=postUsername postTitle=postTitle postPhoto=postPhoto desc=desc }}
			{{/each}}
		</div>
	</div>  
	<div id = "comments">
		<div class = "commentsContainer">
			<h1 class = "divName"> Comments </h1>
			<hr class = "hline">
			{{#each comment}}
				{{> commenttemplate commentUsername=commentUsername commenttedUsername=commenttedUsername postComment=postComment }}
			{{/each}}
		</div>
	</div>