<!DOCTYPE html>
<html>
<head>
    <title> Homepage </title>
    <link rel="stylesheet" href="CSS/siteStyle.css">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/css/homepage.css">
	<script type="text/javascript" src="/js/homepage.js"></script>
	<script type="text/javascript" src="/js/hp.js"></script>
</head>
<body>
		<div class = "navigation">
			<span id="LR">			
				<a href="/endSession">Logout</a>
			</span>
			<div id="proBtn"><a href="/profile">Profile</a></div>
			<h1 class = "navigation-title">Socrates</h1>
		</div>
		
		<div class="writebutton">
			 <button id="popup">Create Post</button>
		</div>
		<div class = "writePosts">
			<div id="close">
				<button id="closeBtn">X</button>
			</div>
			<div class = "writePostsDiv">
				<h1 class = "divName"> Write Posts </h1>
				<hr class = "hline">
			</div>
			
			<div class = "container">
				<form id="postForm">
					<div class="auxTitle">
						<h6 class="descName"> Post's Title </h6>
						<textarea id="postTitle" name="postTitle" placeholder="Enter Post's Title" required></textarea>
					</div>
					
					<div class="auxPhoto">
						<h6 class="descName"> Post's Photo </h6>
						<textarea id="postPhoto" name="postPhoto" placeholder="Enter Photo URL" required></textarea>
					</div>
					
					<div class="auxInfo">
						<h6 class="descName"> Post </h6>
						<textarea rows="100" cols = "40" id="desc" name ="desc" placeholder="Enter your post here" required></textarea>
					</div>
				</form>
				<div class="writebutton">
					<button id = "postSubmit">Submit</button>
				</div>
			</div>
		</div>
	<div id="posts">
		<div class = "postsContainer">
				<h1 class = "divName"> Posts </h1>
				<hr class = "hline">
				{{#each data}}
					{{> posttemplate postUsername=postUsername postTitle=postTitle postPhoto=postPhoto desc=desc }}
				{{/each}}
		</div>
	</div>  
</body>
</html>