 <div class = "navigation">
			<h1 class = "navigation-title"><a href="/">Socrates</a></h1>
		</div>
        <div class="container">
            <form id = "login">
				<h1> Socrates </h1>
                <h2> Login </h2>
				<div class = "text_container">
                <input type="text" placeholder="Username" id ="username" name="username" required>
				</div>
				<div class = "text_container">
                <input type="password" placeholder="Password" id = "password" name="password" required>  
				</div>
            </form>
            <button id = "submitBtn">Log In</button>
            <br>
            <p id="error"></p>
			<span class = "signup_p"> Don't have an account? </span>
			<br>
            <a href="/register" class = "signup_a" target = "_blank"> Sign up </a> 
</div>   