<!DOCTYPE html>
<html>
	<head> 
		<title>Profile Page</title>
		<link rel="stylesheet" href="../CSS/siteStyle.css">
		<link rel="stylesheet" type="text/css" href="/css/homepage.css">
		<link rel="stylesheet" href="../CSS/profile.css">
	</head>
	<body>
		<div class = "navigation">
			<span id="LR">
				<a href="/Logout">Logout</a>
			</span>
			<h1 class = "navigation-title"><a href = "/">Socrates</a></h1>
		</div>
		<div class = "containerProfile">
            <h1> User's Profile </h1>
			{{#each user}}
				{{> profiletemplate firstname=firstname lastname=lastname email=email username=username password1=password1 password2=password2 }}
			{{/each}}
		</div>
		<div id="posts">
			<div class = "postsContainer">
				<h1 class = "divName"> User's Posts </h1>
				<hr class = "hline">
				{{#each data}}
					{{> posttemplate postUsername=postUsername postTitle=postTitle postPhoto=postPhoto desc=desc }}
				{{/each}}
				
			</div>
		</div> 
	</body>
</html>