<!DOCTYPE html>
<html>
	<head> 
		<title>Profile Page</title>
		<link rel="stylesheet" href="../CSS/siteStyle.css">
		<link rel="stylesheet" href="../CSS/profile.css">
	</head>
	<body>
		<div class = "navigation">
			<span id="LR">
				<a href="/Logout">Logout</a>
			</span>
			<h1 class = "navigation-title"><a href = "/">Socrates</a></h1>
		</div>
		<div class = "container">
            <h1> Profile </h1>
			<div class = "contents">
				<span> First Name: {{FirstName}}</span>
				<br>
    			<span> Last Name: {{LastName}}</span>
				<br>
				<span> Email: {{Email}}</span>
				<br>
				<span> Username: {{Username}}</span>
				<br>
			</div>
		</div>
	</body>
</html>